<!--
  Generated template for the AccountdetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Group {{name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-content>
      <p style="color:#fff;">Daily: Ksh. {{dailyAmount}}</p>
      <p style="color:#fff;">Account Number: {{accountNumber}}</p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">

            <ion-item  (tap)="Guarantors()" id="animate-flicker2">
              <ion-avatar item-left>
                <img src="assets/imgs/ic_transfer.png">
              </ion-avatar>
              <h2>Active Guarantors</h2>
              <p>They have guaranteed you</p>
              <span item-right>
                <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </span>
            </ion-item>
            <ion-item  (tap)="PendingGuarantors()" id="animate-flicker2">
              <ion-avatar item-left>
                <img src="assets/imgs/ic_transfer.png">
              </ion-avatar>
              <h2>Pending Guarantors</h2>
              <p>Approve or decline</p>
              <span item-right>
                <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </span>
            </ion-item>
            <ion-item  (tap)="addGuarantor()" id="animate-flicker2">
              <ion-avatar item-left>
                <img src="assets/imgs/ic_transfer.png">
              </ion-avatar>
              <h2>Add Guarantor(s)</h2>
              <p>Request guarantorship</p>
              <span item-right>
                <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </span>
            </ion-item>
             <ion-item  (tap)="GroupMembers()" id="animate-flicker2">
              <ion-avatar item-left>
                <img src="assets/imgs/ic_transfer.png">
              </ion-avatar>
              <h2>View Members</h2>
              <p>Members in same group</p>
              <span item-right>
                <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
              </span>
            </ion-item>
            <!-- <ion-item  (tap)="MakePayment()" id="animate-flicker2">
             <ion-avatar item-left>
               <img src="assets/imgs/ic_transfer.png">
             </ion-avatar>
             <h2>Make Payment</h2>
             <span item-right>
               <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
             </span>
           </ion-item> -->

          </ion-list>

</ion-content>
