<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>about</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card color="primary">
    <ion-card-content>
      This is a mobile based online platform that runs on electronic table banking strategy
      where members join various groups of choice and do daily, weekly or monthly contributions
       and each member is guaranteed to receive the group’s contributions on a given date set by
        the system upon successful registration.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      Each member is required to have 3 guarantors to become fully registered and has
       to maintain a minimum balance of at least 5% of the total group’s daily contribution.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      The platform can be accessed with a smartphone through an android mobile
       application which can be downloaded from Google Play Store.
    </ion-card-content>
  </ion-card>

</ion-content>
