<!--
  Generated template for the SetpinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Set PIN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="Actionsetpin()" style="padding:1%;">
		<ion-list no-lines>

    	<ion-item>
				<ion-label stacked color="primary">Enter PIN</ion-label>
				<ion-input [(ngModel)]="setpinData.pin" name="pin" type="password" required>
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-label stacked color="primary">Confirm PIN</ion-label>
				<ion-input [(ngModel)]="setpinData.confirmPin" name="confirmPin" type="password" required>
				</ion-input>
			</ion-item>

		</ion-list>

		<div padding>
			<button ion-button type="submit" block class="first-btn">Continue</button>
		</div>
	</form>

</ion-content>
