<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<img src="assets/imgs/digital.png" id="halfimg" style="height:40%;position:absolute;"/>
<form (submit)="ActionLogin()" style="padding:4%;margin-top:60%;">
  <p style="text-align:center;"><span id="lineeitherside">Access your account</span></p>

		<div class="item-style">

      <ion-item no-lines>
        <ion-icon color="primary" name="call" item-start></ion-icon>
        <ion-input type="tel" [(ngModel)]="LoginData.phone" name="phone" placeholder="Phone Number" required></ion-input>
      </ion-item>

      <ion-item no-lines style="margin-top:4%;">
        <ion-icon color="primary" name="lock" item-start></ion-icon>
        <ion-input type="password" [(ngModel)]="LoginData.pin" name="pin" placeholder="Your PIN" required></ion-input>
      </ion-item>

		</div>

    <p (click)="openForgotpin()">Forgot Pin?</p>

		<div padding>
			<button ion-button class="first-btn" type="submit" block>Continue</button>
		</div>
	</form>
</ion-content>
