<!--
  Generated template for the MyaccountsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>my accounts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list class="item-style" no-margin>

    <ion-list-header no-lines no-padding>
      Select a account
    </ion-list-header>

    <ion-card class="cardaccounts" *ngFor="let listitem of myaccounts" (click)="openDetails($event,listitem)">
  <ion-card-header>
    {{listitem.groupName}} {{listitem.groupNumber}}
  </ion-card-header>
  <ion-card-content>
    <p>Account No.: {{listitem.accountNumber}}</p>
    <p>Daily Amount: {{listitem.dailyAmount}}</p>
    <p>You are No.: {{listitem.payNumber}}</p>
    <p>Status: {{listitem.status}}</p>
  </ion-card-content>
</ion-card>


    </ion-list>

</ion-content>
