<!--
  Generated template for the TransferfundsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>transfer funds</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-card style="background:#ffffff;">
  <ion-card-content>
  <form (submit)="ActionTransfer()">
    <div class="item-style">

      <h3>Enter Amount (Ksh.)</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="cash" item-start></ion-icon>
        <ion-input type="tel" [(ngModel)]="TransferData.amount" name="amunt"></ion-input>
      </ion-item>

      <h3>Enter PIN</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="lock" item-start></ion-icon>
        <ion-input type="password" [(ngModel)]="TransferData.pin" name="pin" placeholder="Your PIN" required></ion-input>
      </ion-item>

    <div padding>
      <button ion-button type="submit" block class="first-btn">Continue</button>
    </div>
    </div>
  </form>
</ion-card-content>
</ion-card>

</ion-content>
