<!--
  Generated template for the ForgotpinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>forgot pin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (submit)="ActionForgotPin()">
    <div class="item-style">

      <h3>Phone Number</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="call" item-start></ion-icon>
        <ion-input type="text" [(ngModel)]="ForgotPinData.phone" name="phone" placeholder=""></ion-input>
      </ion-item>

      <h3>ID Number</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="document" item-start></ion-icon>
        <ion-input type="text" [(ngModel)]="ForgotPinData.idnumber" name="idnumber" placeholder="National ID"></ion-input>
      </ion-item>

    <p style="text-align:center;">You will receive a temporary PIN via SMS. Please change the PIN after login.</p>

    <div padding>
      <button ion-button type="submit" block class="first-btn">RECOVER PIN</button>
    </div>
    </div>
  </form>
</ion-content>
