<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-scroll>register</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="openGroups()">
        <span ion-text color="primary" style="text-transform:none;color:#fff;">View Groups</span>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>

<p text-center>Group: {{name}} (Ksh. {{dailyAmount}} Daily)</p>

  <form (submit)="ActionRegister()">
    <div class="item-style">
      <h3>First Name</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="person" item-start></ion-icon>
        <ion-input type="text" [(ngModel)]="RegisterData.firstName" name="firstName" placeholder="First Name"></ion-input>
      </ion-item>

      <h3>Last Name</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="person" item-start></ion-icon>
        <ion-input type="text" [(ngModel)]="RegisterData.lastName" name="lastName" placeholder="Last Name"></ion-input>
      </ion-item>

      <h3>Phone Number</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="call" item-start></ion-icon>
        <ion-input type="tel" [(ngModel)]="RegisterData.phone" name="phone" placeholder=""></ion-input>
      </ion-item>

      <h3>ID Number</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="document" item-start></ion-icon>
        <ion-input type="text" [(ngModel)]="RegisterData.nationalID" name="nationalID" placeholder="National ID"></ion-input>
      </ion-item>

      <h3>County</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="list" item-start></ion-icon>
        <ion-select [(ngModel)]="RegisterData.county" name="county" multiple="false">
          <ion-option>Select County</ion-option>
        	<ion-option *ngFor="let county of counties" value="{{county.name}}">{{county.name}}</ion-option>
        </ion-select>
      </ion-item>

      <h3>Gender</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="person" item-start></ion-icon>
        <ion-select [(ngModel)]="RegisterData.gender" name="gender" multiple="false">
          <ion-option>Select Gender</ion-option>
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
        </ion-select>
      </ion-item>

  <h3>Enter PIN</h3>
  <ion-item no-lines>
    <ion-icon color="primary" name="lock" item-start></ion-icon>
    <ion-input type="password" [(ngModel)]="RegisterData.pin" name="pin" placeholder="Your PIN" required></ion-input>
  </ion-item>

  <h3>Confirm PIN</h3>
  <ion-item no-lines>
    <ion-icon color="primary" name="lock" item-start></ion-icon>
    <ion-input type="password" [(ngModel)]="RegisterData.confirmPin" name="confirmPin" placeholder="Confirm PIN" required></ion-input>
  </ion-item>

    <p style="text-align:center;">By creating your account you agree to <br><span (tap)="openTerms()" style="color:#0E4375;">Terms of Service</span> of DigitalTrust</p>

		<div padding>
			<button ion-button type="submit" block class="first-btn">Continue</button>
		</div>
    </div>
	</form>

</ion-content>
