<ion-tabs [selectedIndex]="mySelectedIndex" name="conference" color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" tabUrlPath="conference-schedule"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Faqs" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Privacy" tabIcon="umbrella"></ion-tab>
</ion-tabs>
