<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons left>
        <button ion-button  icon-only (click)="openMenu()">
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
<ion-title>{{"app_title" | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button color="light" icon-only (click)="openMyMessages()">
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
      </button>
      <button ion-button color="light" icon-only (click)="Logout()">
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="mycontent">
<ion-header class="sidemenubg">
  <!--<ion-toolbar>-->
    <!--<ion-title>Menu</ion-title>-->
  <!--</ion-toolbar>-->
</ion-header>
<ion-content>
  <ion-list>
    <button ion-item (click)="openMyMessages()">
      <ion-icon ios="ios-chatbubbles" md="md-chatbubbles" class="sideIcon"></ion-icon> My Messages
    </button>
    <button ion-item (click)="openChangePIN()">
      <ion-icon ios="ios-lock" md="md-lock" class="sideIcon"></ion-icon> Change PIN
    </button>
    <button ion-item (click)="openChangeLanguage()">
      <ion-icon ios="ios-swap" md="md-swap" class="sideIcon"></ion-icon> Change Language
    </button>
    <button ion-item (click)="openFaqs()">
      <ion-icon ios="ios-list-box" md="md-list-box" class="sideIcon"></ion-icon> Frequently Asked
    </button>
    <button ion-item (click)="openTerms()">
      <ion-icon ios="ios-magnet" md="md-magnet" class="sideIcon"></ion-icon> Terms and Conditions
    </button>
    <button ion-item (click)="openPolicy()">
      <ion-icon ios="ios-umbrella" md="md-umbrella" class="sideIcon"></ion-icon> Privacy Policy
    </button>
    <button ion-item (click)="openAbout()">
      <ion-icon name="person" class="sideIcon"></ion-icon> About Us
    </button>
  </ion-list>
</ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content id="bghome">

    <ion-grid>

        <ion-row>
          <ion-col class="grid-item">
            <ion-card class="card101" (tap)="openMyAccount()">
              <img src="assets/imgs/socialcare.png" class="cardImg"/>
              <ion-card-content>
                <ion-card-title style="text-align:center;line-height:40px;">
                  My Accounts
                  </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col col-xs class="grid-item">
            <ion-card class="card101" (tap)="openMinistatement()">
              <img src="assets/imgs/clipboard.png" class="cardImg"/>
              <ion-card-content>
                <ion-card-title style="text-align:center;line-height:40px;">
                  Ministatement
                  </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>

    </ion-row>

    <ion-row>
      <ion-col class="grid-item">
        <!-- <ion-card class="card101" (tap)="openAddMember()"> -->
        <ion-card class="card101">
          <img src="assets/imgs/add.png" class="cardImg"/>
          <ion-card-content>
            <ion-card-title style="text-align:center;line-height:40px;">
              Add Member
              </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-xs class="grid-item">
        <!-- <ion-card class="card101" (tap)="openJoinNewGroup()"> -->
        <ion-card class="card101">
          <img src="assets/imgs/join.png" class="cardImg"/>
          <ion-card-content>
            <ion-card-title style="text-align:center;line-height:40px;">
              Join New Group
              </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>


    </ion-row>

        <ion-row>

          <ion-col col-xs class="grid-item">
            <!-- <ion-card class="card101" (tap)="openWallet()"> -->
            <ion-card class="card101">
              <img src="assets/imgs/money.png" class="cardImg"/>
              <ion-card-content>
                <ion-card-title style="text-align:center;line-height:40px;">
                My Wallet
                  </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col col-xs class="grid-item">
            <!-- <ion-card class="card101" (tap)="openCustomerCare()"> -->
            <ion-card class="card101">
              <img src="assets/imgs/support.png" class="cardImg"/>
              <ion-card-content>
                <ion-card-title style="text-align:center;line-height:40px;">
                  Customer Care
                  </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>

      </ion-row>

      </ion-grid>

<ion-fab bottom right #fab>
  <button ion-fab><ion-icon name="share"></ion-icon></button>
  <ion-fab-list side="top">
    <button ion-fab color="whatsapp" (click)="whatsappShare(i)"><ion-icon name="logo-whatsapp" style="color:#25d366;"></ion-icon></button>
    <button ion-fab color="twitter" (click)="twitterShare(i)"><ion-icon name="logo-twitter" style="color:#0084b4;"></ion-icon></button>
    <button ion-fab color="facebook" (click)="facebookShare(i)"><ion-icon name="logo-facebook" style="color:#3b5998;"></ion-icon></button>
  </ion-fab-list>
</ion-fab>
</ion-content>
