page-dashboard {

.dashheader {
  color: #ffffff;
}

#bghome {
  background-image: url('../assets/imgs/logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom center;
  background-color: hsla(0,0%,100%,0.70);
  background-blend-mode: overlay;
}

#gradcontent {
  background: #ADFF2F; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFF, #FFFF00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF, #FFFF00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF, #FFFF00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF, #FFFF00); /* Standard syntax */
}

.grid-item {
   width:49%;
}

.card101 {
  margin: 0%;
  width: 100%;
  padding-top: 2px;
  border-radius:10px;
  margin-bottom: 3%;
  border: 2px solid color($colors,danger);
}

.card102 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.cardImg {
  width:65%;
  padding: 6px;
}

    .card-md p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: #222;
        height: 2.8rem;
       }

    .card-title-md {
        display: block;
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 1;
        color: #222;
        margin-top: -15%;
        padding: 0;
        height: 2.8rem;
        text-align: center;
     }

ion-card img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.sidemenubg {
background-repeat: no-repeat center;
background-position: 50%;
width: 100%;
height: 26%;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
background-image: url('../assets/imgs/digital.png');
}

.sideIcon {
  font-size: 1.4em;
  margin-right: 2%;
}

// ion-card-content {
//   padding-top: 5px !important;
// }

}
