<!--
  Generated template for the MinistatementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>ministatement</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card [hidden]="!nodataavailable" color="primary">
    <ion-card-content>
    You do not have active guarantors!
    </ion-card-content>
    </ion-card>

  <ion-list>

    <ion-item *ngFor="let item of list">
      <ion-avatar item-start>
        <img src="assets/imgs/digital.png">
      </ion-avatar>
      <h2>{{item.reference}} {{item.transID}}</h2>
      <p>Ksh. {{item.amount}} - {{item.date}}</p>
    </ion-item>

  </ion-list>


</ion-content>
