<!--
  Generated template for the TermsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>terms and Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-card>
  <ion-card-header>
    Note
  </ion-card-header>
  <ion-card-content>
    DigitalTrust shall take all necessary actions to ensure that all members make their contributions fully.
  </ion-card-content>
</ion-card>

</ion-content>
