<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <form (submit)="ActionProfile()">

    <div class="item-style">

      <h3>First Name</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="person" item-start></ion-icon>
        <ion-input type="text" [(ngModel)]="ProfileData.firstname" name="firstname" placeholder="First Name"></ion-input>
      </ion-item>

      <h3>Last Name</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="person" item-start></ion-icon>
        <ion-input type="text" [(ngModel)]="ProfileData.lastname" name="lastname" placeholder="Last Name"></ion-input>
      </ion-item>

  <!-- <ion-item>
  <ion-label stacked color="primary">Phone Number</ion-label>
  <ion-input [(ngModel)]="ProfileData.phone" name="phone" type="text" placeholder="07..." required>
  </ion-input>
</ion-item> -->

<!-- <ion-item>
<ion-label stacked color="primary">County</ion-label>
<ion-select [(ngModel)]="ProfileData.countyname" name="countyname" placeholder="{{countyname}}">
	<ion-option *ngFor="let county of counties" value="{{county.countyname}}">{{county.countyname}}</ion-option>
</ion-select>
</ion-item> -->

<h3>Area of Residence</h3>
<ion-item no-lines>
  <ion-icon color="primary" name="pin" item-start></ion-icon>
  <ion-input type="text" [(ngModel)]="ProfileData.town" name="town" placeholder="Location"></ion-input>
</ion-item>


		<div padding>
			<button ion-button type="submit" block class="first-btn">Save Changes</button>
		</div>

  <!-- <ion-row>
          <ion-col style="width:50%;">
             <button ion-button class="first-btn" full type="submit" (click)="openLogin()">Cancel</button>
          </ion-col>
          <ion-col style="width:50%;"><button ion-button class="first-btn" full type="submit" (click)="openSetpin()">Next</button></ion-col>
          </ion-row> -->
          </div>
          	</form>
</ion-content>
