<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>One Time Pin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<img src="assets/imgs/background.jpg" id="halfimg" style="height:40%;position:absolute;"/>
<form (submit)="ActionLogin()" style="padding:4%;margin-top:60%;">
  <p style="text-align:center;"><span id="lineeitherside">All fields are required</span></p>

	<div class="item-style">

    <ion-item no-lines>
      <ion-icon color="primary" name="eye" item-start></ion-icon>
      <ion-input type="text" [(ngModel)]="otpData.otpCode" name="otpCode" placeholder="Enter SMS code" required></ion-input>
    </ion-item>

		</div>

    <p style="text-align:center;">Didn't receive SMS code? <span (tap)="openLogin()" style="color:#0E4375;">Resend</span></p>


		<div padding>
			<button ion-button class="first-btn" type="submit" block>Sign In</button>
		</div>
	</form>
</ion-content>
