<!--
  Generated template for the GroupmembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>group members</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list class="item-style" no-margin>

          <ion-item *ngFor="let listitem of members" >
        <p text-wrap>{{listitem.firstName}} {{listitem.lastName}}</p>
        <p>{{listitem.accountNumber}}</p>
      </ion-item>

    </ion-list>

</ion-content>
