page-home {
  ion-content {
      background: url('../assets/imgs/mobile.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
  }

  #something {
    margin: auto;
       position: absolute;
       top: 82%;
       left: 0;
       bottom: 0;
       right: 0;
  }
}
