<ion-content padding>
  <div id="something">
  <ion-row>
  <ion-col style="width:50%;"><button ion-button class="first-btn" full type="submit" (click)="openLogin()">Sign In</button></ion-col>
  <ion-col style="width:50%;"><button ion-button class="first-btn" full type="submit" (click)="openRegister()">New Member?</button></ion-col>
  </ion-row>
  </div>
</ion-content>
