<!--
  Generated template for the MymessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>my messages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list class="item-style" no-margin>

          <ion-item *ngFor="let listitem of mymessages" >
        <p text-wrap>{{listitem.message}}</p>
        <p>{{listitem.date}}</p>
      </ion-item>

    </ion-list>

</ion-content>
