<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Customer Care</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card color="primary">
        <ion-card-content>
          For all your enquiries do not hesitate to contact us using one of the following channels.
        </ion-card-content>
      </ion-card>
            <ion-card (tap)="openFacebook()">
            <ion-card-content>
              <ion-icon name="logo-facebook" class="sideicon" style="color:#3b5998;"></ion-icon> DigitalTrust
            </ion-card-content>
            </ion-card>
            <ion-card (tap)="openTwitter()">
            <ion-card-content>
              <ion-icon name="logo-twitter" class="sideicon" style="color:#0084b4;"></ion-icon> DigitalTrust
            </ion-card-content>
            </ion-card>
            <ion-card>
            <ion-card-content>
              <ion-icon name="call" class="sideicon" color="primary" (tap)="openCall()"></ion-icon> 2547XXXXXXXX
            </ion-card-content>
          </ion-card>

          <ion-card>
                <ion-card-content>
                  <ion-icon ios="ios-mail" md="md-mail" class="sideicon" color="primary"></ion-icon>
                  info@digitaltrust.com
                </ion-card-content>
              </ion-card>
</ion-content>
