<!--
  Generated template for the AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>add member</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<p text-center>Add Member In: {{name}} (Daily Ksh. {{dailyAmount}})</p>

  <form (submit)="Actionadd()">
	<div class="item-style">
    <h3>First Name</h3>
    <ion-item no-lines>
      <ion-icon color="primary" name="person" item-start></ion-icon>
      <ion-input type="text" [(ngModel)]="addData.firstName" name="firstName" placeholder="First Name"></ion-input>
    </ion-item>

    <h3>Last Name</h3>
    <ion-item no-lines>
      <ion-icon color="primary" name="person" item-start></ion-icon>
      <ion-input type="text" [(ngModel)]="addData.lastName" name="lastName" placeholder="Last Name"></ion-input>
    </ion-item>

    <h3>Phone Number</h3>
    <ion-item no-lines>
      <ion-icon color="primary" name="call" item-start></ion-icon>
      <ion-input type="tel" [(ngModel)]="addData.phone" name="phone" placeholder=""></ion-input>
    </ion-item>

    <h3>ID Number</h3>
    <ion-item no-lines>
      <ion-icon color="primary" name="document" item-start></ion-icon>
      <ion-input type="text" [(ngModel)]="addData.nationalID" name="nationalID" placeholder="National ID"></ion-input>
    </ion-item>

    <h3>County</h3>
    <ion-item no-lines>
      <ion-icon color="primary" name="pin" item-start></ion-icon>
      <ion-select [(ngModel)]="addData.county" name="county" multiple="true">
        <ion-option>Select County</ion-option>
      	<ion-option *ngFor="let county of counties" value="{{county.name}}">{{county.name}}</ion-option>
      </ion-select>
    </ion-item>

    <h3>Gender</h3>
    <ion-item no-lines>
      <ion-icon color="primary" name="person" item-start></ion-icon>
      <ion-select [(ngModel)]="addData.gender" name="gender" multiple="true">
        <ion-option>Select Gender</ion-option>
        <ion-option value="male">Male</ion-option>
        <ion-option value="female">Female</ion-option>
      </ion-select>
    </ion-item>

		<div padding>
			<button ion-button type="submit" block class="first-btn">Continue</button>
		</div>

    </div>
	</form>

</ion-content>
