page-mypayments {

}
.main-style{
    @include box-shadow(0px, 2px, 5px, rgba(color($colors,dark),.1));
    border-radius: 3px;
    background: color($colors,light);
}
.item-style{
    .list-header-md{
        &.item{
            background: none;
            color: color($colors,dark);
            margin-bottom: 0;
            font-size: 1.5rem;
            font-weight: 500;
            box-shadow: none;
        }
    }
    .item{
        @extend .main-style;
        margin-bottom: 10px;
        font-size: 1.4rem;
        .item-inner {
            padding-left: 7px;
            margin-left: 0 !important;
        }
        .label-md{
            font-weight: 500;
        }
        img{
            width: 40px;
            height: 40px;
            object-fit: contain;
        }
        [item-end]{
            margin: 0;
        }
    }
}
