<!--
  Generated template for the MypaymentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>my payments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card [hidden]="!nodataavailable" color="primary">
<ion-card-content>
  Sorry, there are no records to display!
</ion-card-content>
</ion-card>

<ion-list class="item-style" no-margin>

      <ion-item *ngFor="let listitem of mypayments" >
        <h2 text-wrap>Ksh. {{listitem.transAmount}} <span style="float:right;">{{listitem.firstName}} {{listitem.lastName}}</span></h2>
        <p text-wrap>{{listitem.transID}}</p>
        <p>{{listitem.date}}</p>
      </ion-item>

    </ion-list>


    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
