// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.listdiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
    .itemdiv {
      color:#ffffff !important;
      background: color($colors,primary);
        width: 49%;
        @include box-shadow(0px, 2px, 5px, rgba(color($colors,dark),.1));
        border-radius: 3px;
        padding: 8px;
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center !important;
    }
}

#cart-btn {
 position: relative;
}

#cart-badge {
 position: absolute;
 top: 0px;
 right: 0px;
 font-size: 0.8em;
 border-radius: 100%;
}

// app-fund-transfer-options {
//   ion-list ion-item .icon_box {
//     margin-right: 0px !important;
//     margin-left: 20px !important;
//   }
// }

@media (max-width: 768px) {
  .ioncardicon {
    font-size: 8em !important;
    display: inline-block;
    width: 100%;
    text-align:center;
    color: color($colors, secondary) !important;
}
}

@media only screen and (max-width: 600px) {
  .ioncardicon {
    font-size: 6em !important;
    display: inline-block;
    width: 100%;
    text-align:center;
    color: color($colors, secondary) !important;
}
}

@media only screen and (max-width: 480px) {
  .ioncardicon {
    font-size: 6em !important;
    display: inline-block;
    width: 100%;
    text-align:center;
    color: color($colors, secondary) !important;
}
}


.card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #222;
    height: 2.8rem;
   }

.card-title-md {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    margin-top: -5%;
    padding: 0;
    height: 1rem;
    text-align: center;
 }

.first-btn {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background-image: linear-gradient(135deg, color($colors, secondary), color($colors, primary));
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:2px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:22px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

#mainicons {
  color: color($colors, primary);
  font-size: 2em;
  position: absolute;
  margin-top: 2%;
}

.logo {
        width: auto;
        height: 230px;
        margin: 5% auto 0;
        background: url("../assets/imgs/logo.png") no-repeat;
        background-size: 100%;
      }

      .toolbar-background {
      background-image: linear-gradient(135deg, color($colors, primary), color($colors, primary));
    }

    .toolbar-title-md {
    padding: 0 12px;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
}

.toolbar ion-icon {
  color: #ffffff !important;
}

#halfimg {
  width:100%;
}

// #classtextarea {
//   padding-left: 4px !important;
//   padding-top: 2px !important;
//   padding-bottom: 2px !important;
//   font-size: 1em;
//   margin-bottom: 10px;
//   width: 100%;
//   background: #fff;
//   border-radius:3px;
//   border:rgba(0,0,0,.3) 2px solid;
//   box-sizing:border-box;
// }

.list {
    .item{
        background: none;
        font-size: 1.5rem;
        border-radius: 3px;
        &.active-item{
            background: rgba(color($colors,light),.7);
            @include box-shadow(0px, 2px, 5px, rgba(color($colors,dark),.1));
        }
        [item-start]{
            font-size: 2.2rem;
            line-height: 3rem;
        }
        .item-inner{
            margin-left: 10px;
        }
    }
}

h3{
    font-size: 1.5rem;
}

ion-select {
width: 100% !important;
border-radius:3px;
border:rgba(0,0,0,.3) 2px solid;
box-sizing:border-box;
width: 100%;
max-width: 100%;
}

#lineeitherside {
 overflow: hidden;
 text-align: center;
}
#lineeitherside:before,
#lineeitherside:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
#lineeitherside:before {
 right: 0.5em;
 margin-left: -50%;
}
#lineeitherside:after {
 left: 0.5em;
 margin-right: -50%;
}

.alert-ios [aria-checked=true]{
    .alert-checkbox-inner {
        width: 6px;
        height: 11px;
        border-width: 1.55px;
        border-top-width: 0;
        border-left-width: 0;
    }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #909;
}
