<!--
  Generated template for the FaqsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Frequntly Asked Questions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header text-wrap>
      Can one have multiple accounts?
    </ion-card-header>
    <ion-card-content>
      One can have multiple accounts but in different groups
    </ion-card-content>
  </ion-card>

</ion-content>
