<!--
  Generated template for the ChangepinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>change pin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (submit)="ActionChangePin()">
    <div class="item-style">

      <h3>Enter Current PIN</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="lock" item-start></ion-icon>
        <ion-input type="password" [(ngModel)]="ChangePinData.currentpin" name="currentpin" placeholder="Your Current PIN" required></ion-input>
      </ion-item>

      <h3>Enter New PIN</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="lock" item-start></ion-icon>
        <ion-input type="password" [(ngModel)]="ChangePinData.pin" name="pin" placeholder="Your New PIN" required></ion-input>
      </ion-item>

      <h3>Confirm New PIN</h3>
      <ion-item no-lines>
        <ion-icon color="primary" name="lock" item-start></ion-icon>
        <ion-input type="password" [(ngModel)]="ChangePinData.confirmpin" name="confirmpin" placeholder="Confirm New PIN" required></ion-input>
      </ion-item>

    <div padding>
      <button ion-button type="submit" block class="first-btn">Continue</button>
    </div>
    </div>
  </form>
</ion-content>
