<!--
  Generated template for the PendingguarantorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>pending guarantors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="item-style" no-margin style="padding:2%">

    <p text-wrap text-center>
        The following have requested you to guarantee them
      </p>

      <ion-card [hidden]="!nodataavailable" color="primary">
      <ion-card-content>
      No pending guarantor requests
      </ion-card-content>
      </ion-card>

    <ion-item *ngFor="let item of list" no-lines>
      <h3>{{item.firstName}} {{item.lastName}}</h3>
        <h3>{{item.phone}}</h3>
        <ion-badge color="secondary">{{item.accountNumber}}</ion-badge>
        <div class="listdiv">
      <div class="itemdiv"(click)="TakeActionAccept(item.id,'1')"> Accept </div>
      <div class="itemdiv" (click)="TakeActionDecline(item.id,'0')"> Decline </div>
  </div>
    </ion-item>

  </ion-list>
</ion-content>
