<!--
  Generated template for the GuarantorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>guarantors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>



<ion-list class="item-style" no-margin style="padding:2%">

  <p text-wrap text-center>
    The following have accepted to be your guarantors
  </p>

  <ion-card [hidden]="!nodataavailable" color="primary">
  <ion-card-content>
  You do not have active guarantors!
  </ion-card-content>
  </ion-card>

  <ion-item *ngFor="let item of list" no-lines>
    <h3>{{item.firstName}} {{item.lastName}}</h3>
      <ion-badge color="secondary">{{item.accountNumber}}</ion-badge>
  </ion-item>
</ion-list>

</ion-content>
