<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>My Wallet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card color="secondary">
    <ion-card-header>
      Account Balance
    </ion-card-header>
    <ion-card-content>
      <p><strong>Ksh. {{availableBalance}}</strong></p>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button full (tap)="openTransfer()">
              Transfer Funds
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button full (tap)="openWithdrawCash()">
              Withdraw Cash
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      Secondary Balance
    </ion-card-header>
    <ion-card-content>
      <p style="color:#fff;"><strong>Ksh. {{availableBalance}}</strong></p>
    </ion-card-content>
  </ion-card>

</ion-content>
