<!--
  Generated template for the PrivacyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>privacy policy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card id="card1" color="primary">
    <ion-card-content>
    By downloading, browsing, accessing or using DigitalTrust
    (“Mobile Application”), you agree to be bound by these privacy policies.
    We reserve the right to amend these privacy policies at any time. If you disagree
    with any of these privacy policies, you must immediately discontinue your
    access to the Mobile Application and your use of the services offered on the Mobile
    Application. Continued use of the Mobile Application will constitute acceptance of
    these privacy policies, as may be amended from time to time.
    </ion-card-content>
  </ion-card>
  <ion-card id="card1">
    <ion-card-content>
      1. Applicability of privacy policies: The use of any Services and/or the Mobile Application
      and the making of any Redemptions are subject to these privacy policies.
    </ion-card-content>
  </ion-card>

  <ion-card id="card1">
    <ion-card-content>
      2. Accurate information: You warrant that all information provided on Registration
      and contained as part of your Account is true, complete and accurate and that you
      will promptly inform us of any changes to such information by updating the information
       in your Account.
    </ion-card-content>
  </ion-card>
  <ion-card id="card1">
    <ion-card-content>
      3. We will use reasonable endeavours to correct any errors or omissions as soon as
      practicable after being notified of them. However, we do not guarantee that the Services
       or the Mobile Application will be free of faults, and we do not accept liability for
       any such faults, errors or omissions. In the event of any such error, fault or omission,
        you should report it by contacting us.
    </ion-card-content>
  </ion-card>

  <ion-card id="card1">
    <ion-card-content>
      4. We reserve the right to block access to and/or to edit or remove any material which in
       our reasonable opinion may give rise to a breach of these privacy policies.
    </ion-card-content>
  </ion-card>
  <ion-card id="card1">
    <ion-card-content>
      5. All editorial content, information, photographs, illustrations, artwork and
      other graphic materials, and names, logos and trade marks on the Mobile Application are
      protected by copyright laws and/or other laws and/or international treaties, and belong
      to us and/or our suppliers, as the case may be. These works, logos, graphics, sounds or
      images may not be copied, reproduced, retransmitted, distributed, disseminated, sold,
      published, broadcasted or circulated whether in whole or in part, unless expressly
      permitted by us and/or our suppliers, as the case may be.
    </ion-card-content>
  </ion-card>
  <ion-card id="card1">
    <ion-card-content>
      6. We will not hesitate to take legal action against any unauthorised usage of our
      trade marks, name or symbols to preserve and protect its rights in the matter.
      All rights not expressly granted herein are reserved. Other product and company
      names mentioned herein may also be the trade marks of their respective owners.
    </ion-card-content>
  </ion-card>
  <ion-card id="card1">
    <ion-card-content>
      7. We reserve the right to amend these privacy policies from time to time
       without notice. The revised privacy policies will be posted on the Mobile
       Application and shall take effect from the date of such posting. You are advised to
       review these privacy policies periodically as they are binding upon you.
    </ion-card-content>
  </ion-card>
  <ion-card id="card1">
    <ion-card-content>
      8. We will protect personal information by reasonable security safeguards against loss
      or theft, as well as unauthorized access, disclosure, copying, use or modification.
    </ion-card-content>
  </ion-card>
  <ion-card id="card1">
    <ion-card-content>
      9. We are committed to conducting our business in accordance with these principles in order
      to ensure that the confidentiality of personal information is protected and maintained.
    </ion-card-content>
  </ion-card>

</ion-content>
