<!--
  Generated template for the JoinnewgroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>join new group</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list [virtualScroll]="joinnewgroup" approxItemHeight="50px">

    <ion-item *virtualItem="let listitem; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'" (click)="presentConfirm($event,listitem)">
      <ion-avatar class="animate-in-primary" item-start>
    <ion-img src="{{listitem.logo}}" class="fdimage"></ion-img>
  </ion-avatar>
      <h2 text-wrap class="animate-in-secondary">{{listitem.name}} {{listitem.serialNumber}}</h2>
      <p>Daily: Ksh. {{listitem.dailyAmount}}</p>
    </ion-item>

    </ion-list>

</ion-content>
